AWS_REGION=ap-south-1
SECRET_NAME=prod/jenkins/aws-keys
ASSUME_ROLE_ARN=arn:aws:iam::<ACCOUNT_ID>:role/S3LimitedAccessRole
S3_BUCKET=vms-lab-pradeep-logs
LOG_LEVEL=INFO
LOG_DIR=/app_logs
FLASK_SECRET_KEY=change-me
